<!DOCTYPE html>
<html ng-app="App" lang="fr">
<head>

	<meta charset="UTF-8">

	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
	<style>
	* {
		outline: none;
	}

	md-toast {
		position: fixed !important;
	    bottom: 0 !important;
	    left: 0 !important;
	    right: 0 !important;
	}
	</style>

	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-route/angular-route.js"></script>
	<script src="node_modules/angular-aria/angular-aria.js"></script>
	<script src="node_modules/angular-animate/angular-animate.js"></script>
	<script src="node_modules/angular-material/angular-material.js"></script>
	<script src="node_modules/angular-sanitize/angular-sanitize.js"></script>

	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="js/api.js"></script>

	<script src="js/config.js"></script>
	<script src="js/app.controller.js"></script>
	<script src="js/profil.controller.js"></script>
	<script src="js/editProduit.controller.js"></script>
	<script src="js/chooseCategory.controller.js"></script>
	<script src="js/notifications.controller.js"></script>
	<script src="js/detailEchange.controller.js"></script>
	<script src="js/productDetails.controller.js"></script>
	<script src="js/datePicker.controller.js"></script>
	<script src="js/chooseCable.controller.js"></script>
	<script src="js/findProduct.controller.js"></script>
	<script src="js/menu.controller.js"></script>
	<script src="js/chat.controller.js"></script>
	<script src="js/home.controller.js"></script>
	<script src="js/filter.controller.js"></script>

</head>
<body ng-controller="AppController" md-swipe-right="openSidenav()">

	<md-toolbar style="position: fixed;top: 0;">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Sidenav menu" ng-click="openSidenav()">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>

			<h2 flex md-truncate>ConnectX</h2>

			<md-button class="md-icon-button" aria-label="More" ng-click="toggleNotifications()">
				<md-icon md-svg-icon="img/icons/ic_notifications_none_white_24px.svg" ng-if="$root.getNotifications().length === 0"></md-icon>
				<md-icon md-svg-icon="img/icons/notifications.svg" ng-if="$root.getNotifications().length !== 0"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-sidenav style="position: fixed;top: 0;" class="md-sidenav-left md-whiteframe-4dp" md-swipe-left="closeSidenav()" md-component-id="sidenav">
		<div ng-include="'pages/menu.html'"></div>
	</md-sidenav>

	<div style="padding-top:56px;" ng-view></div>

</body>
</html>
