<div ng-controller="FilterController" ng-cloak>

	<div  class="md-padding">
		<h3 class="md-headline" style="text-align: center; margin: 0;">
			Filtrer les résultats
		</h3>
	</div>

	<div layout="row" style="margin-top: 10px;">
		<div flex></div>
		<md-button ng-click="validate()" class="md-primary md-raised">
			Valider
		</md-button>
		<div flex></div>
	</div>

	<md-list>

		<md-subheader class="md-no-sticky"> Prix </md-subheader>

		<md-list-item>
			<md-radio-group ng-model="price">
				<md-radio-button value=""> - Indifférent - </md-radio-button>
				<md-radio-button ng-repeat="f in $root.config.filters.price" value="{{f}}" class="md-primary">{{f}}</md-radio-button>
			</md-radio-group>
		</md-list-item>

		<md-divider></md-divider>

		<md-subheader class="md-no-sticky"> Distance </md-subheader>

		<md-list-item>
			<md-radio-group ng-model="distance">
				<md-radio-button value=""> - Indifférente - </md-radio-button>
				<md-radio-button ng-repeat="f in $root.config.filters.distance" value="{{f}}" class="md-primary">{{f}}</md-radio-button>
			</md-radio-group>
		</md-list-item>

		<md-divider></md-divider>

		<md-subheader class="md-no-sticky"> Catégorie </md-subheader>

		<md-list-item>
			<md-radio-group ng-model="category">
				<md-radio-button value=""> - Indifférente - </md-radio-button>
				<md-radio-button ng-repeat="f in $root.config.filters.category" value="{{f}}" class="md-primary">{{f}}</md-radio-button>
			</md-radio-group>
		</md-list-item>

	</md-list>

	<div layout="row" style="margin-bottom:20px">
		<div flex></div>
		<md-button ng-click="validate()" class="md-primary md-raised">
			Valider
		</md-button>
		<div flex></div>
	</div>

</div>
