<style>
md-list-item.md-3-line::before, md-list-item.md-3-line > .md-no-style
{
	min-height: 30px;
}
.smallerFontSize
{
	font-size: 14px;
}
md-list-item.md-no-proxy, md-list-item .md-no-style
{
	padding: 10px;
}
</style>

<div ng-controller="ProductDetailsController" ng-cloak>

	<div class="md-padding">

		<div layout="row" layout-align="center center">
			<h3 class="md-headline" style="margin:0;" >
				Détails de votre produit
			</h3>
		</div>

		<div style="margin:10px 0;" layout="row" layout-align="center center">
			<div style="margin:0 5px 0 0;">
				<md-icon md-svg-icon="{{object.image}}" ></md-icon>
			</div>
			<h3 class="md-title" style="margin:0;" >
				{{object.nom}}
			</h3>
		</div>

		<div layout="row" layout-align="center center">
			<img style="width:128px;height:auto;" ng-src="{{object.photo}}" />
			<div flex class="md-padding">
				<div style="margin: 5px 0;"><b>Catégorie</b> : {{object.type}}</div>
				<div style="margin: 5px 0;"><b>Description</b> : {{object.infos}}</div>
				<div style="margin: 5px 0;" ng-if="object.statutType == 'Gratuit'">
					<b>Gratuit</b>
				</div>
				<div style="margin: 5px 0;" ng-if="object.statutType == 'Payant'">
					<b>Payant : </b>
					{{object.prix}}{{object.devise}}{{object.prixType}}
				</div>
			</div>
		</div>

		<div layout="row" layout-align="center center">

			<md-button href="#!/edit-produit?idProduit={{object.id}}" style="margin:20px 0;" class="md-primary md-raised">
				Éditer
			</md-button>

		</div>

		<md-content>
			<md-divider></md-divider>
			<div style="margin-top:10px; margin-bottom:10px;"><center><i>Historique</i></center></div>

			<div ng-repeat="demande in $root.data.demandes" ng-if="demande.idObjet == object.id">

				<b style="margin:5px 0 0;">
					Échange avec {{$root.data.profil[demande.idProprietaire].nom}}
				</b>

				<md-list style="padding:0">
					<md-list-item class="md-3-line" style="min-height:20px; padding: 0;">
						<div class="md-list-item-text">
							<p>{{demande.dateDemande}} - {{demande.heureDemande}} : Demande de prêt reçue</p>
						</div>
					</md-list-item>

					<md-list-item class="md-3-line" style="min-height:20px; padding: 0;" ng-if="demande.statut == 'acceptée' || demande.statut == 'terminée'">
						<div class="md-list-item-text">
							<p>{{demande.dateDebut}} - {{demande.heureDebut}} : Demande de prêt acceptée</p>
						</div>
					</md-list-item>

					<md-list-item class="md-3-line" style="min-height:20px; padding: 0;" ng-if="demande.statut == 'terminée'">
						<div class="md-list-item-text">
							<p>{{demande.dateFin}} - {{demande.heureFin}} : Demande de prêt terminée</p>
						</div>
					</md-list-item>

					<md-list-item class="md-3-line" style="min-height:20px; padding: 0;" ng-if="demande.statut == 'refusée'">
						<div class="md-list-item-text">
							<p>{{demande.dateFin}} - {{demande.heureFin}} : Demande de prêt refusée</p>
						</div>
					</md-list-item>
				</md-list>
			</div>
		</md-content>
	</div>

</div>
