<style>
.faq h4 {
	margin : 0;
}

.faq h4 {
	margin : 0;
	text-align: justify;
}

.faq div {
	margin : 5px 0 20px;
	text-align: justify;
}
</style>

<div class="faq md-padding">

	<h3 class="md-headline" style="text-align: center; margin: 0 0 20px;">
		Foire aux questions
	</h3>

	<h4>Qu'est-ce que ConnectX ?</h4>
	<div>ConnectX est un service de prêt sur demande de matériel multimédia.</div>

	<h4>Qui peut utiliser ConnectX ?</h4>
	<div>Les personnes de 7 à 77 ans utilisant un smartphone Android peuvent télécharger et installer cette formidable application.</div>

	<h4>Comment prêter du matériel ?</h4>
	<div>Vous pouvez ajouter du matériel depuis la liste de <a href="#!/profil">vos objets</a>.</div>

	<h4>Comment demander du matériel ?</h4>
	<div>Vous pouvez demander du matériel à la communauté via <a href="#!/choose-category?mode=request">le processus de demande</a>.</div>

	<h4>Qu'est-ce que le mode urgence ?</h4>
	<div>Le mode urgence vous permet de signaler rapidement que vous avez besoin de votre matériel dans les 10 minutes.</div>

	<h4>Est-ce que ConnectX est gratuit ?</h4>
	<div>Le service de mise en relation des demandeurs et des prêteurs est totalement gratuit. Cependant certains utilisateurs ont la possibilité de transformer leur prêt en location.</div>

	<h4>Qui sont les personnes qui composent la communauté ?</h4>
	<div>Des gens qui sont souvent, comme vous et nous, en manque de matériel multimédia.</div>

	<h4>Pourquoi l'hexanôme H4301 devrait avoir une note de 20/20 ?</h4>
	<div>L'hexanôme H4301 a été le premier a réalisé les sondages, qui plus est, sur plus de 200 personnes. Ils sont sérieux et motivés. Et puis leur IHM est jolie et assez fonctionnelle quand même.</div>

	<h4>Quelle est la grande réponse à la vie, l'univers et tout le reste ?</h4>
	<div>42.</div>

</div>
