<md-content ng-controller="FindProductController">

	<style>
	.md-no-errors-spacer .md-errors-spacer {
		display:none;
	}

	.md-chips-no-border .md-chips {
		box-shadow:unset !important;
	}

	.no-margin-button {
		padding:0 !important;
		margin:0 !important;
	}

	.no-margin-button .md-icon {
	}
	</style>

	<h3 class="md-headline md-padding" style="text-align: center; margin: 0;" >
		Trouver votre matériel
	</h3>

	<style>
	.results h3 {
		font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.010em;
	margin: 0 0 0px 0;
	line-height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	}

	.results h4 {
		font-size: 14px;
	letter-spacing: 0.010em;
	margin: 3px 0 1px 0;
	font-weight: 400;
	line-height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	}

	.results p {
		font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.010em;
	margin: 0 0 0 0;
	line-height: 1.6em;
	}
	</style>

	<div>
		<div layout="row" layout-align="start end">
			<md-input-container flex style="margin-bottom:0;margin-left:8px;" class="md-no-errors-spacer">
				<label>Recherche</label>
				<input ng-model="query" type="text" />
			</md-input-container>
			<md-button ng-click="editFilters()" class="md-icon-button no-margin-button">
				<md-icon md-svg-icon="img/icons/settings.svg"></md-icon>
			</md-button>
		</div>

		<div layout="row" layout-align="start">

			<div ng-repeat="f in filters()" style="margin:0 8px;">
				<md-chips class="md-chips-no-border">
					<md-chip style="margin:8px 0 0;white-space: nowrap;overflow:hidden;font-size:14px;">{{f}}</md-chip>
				</md-chips>
			</div>


		</div>
	</div>
	<div class="results" style="margin:0 10px;">
		<div  layout="row" layout-align="start center" style="border-bottom:1px solid #ddd;" ng-repeat="object in search()"  ng-click="requestFor(object, randomDistance[$index] )" ng-if="!filtered(object, randomDistance[$index])">
			<img style="width:64px;height:auto;margin:10px 10px 10px ;" ng-src="{{object.photo}}" class="md-avatar" />
			<div flex>
				<h3>{{object.nom}}</h3>
				<h4>Prêter par {{getUserById(object.idProprietaire).nom}}</h4>
				<p>
					{{randomDistance[$index]}} -
					<span ng-if="object.prix == 0">Gratuit </span>
					<span ng-if="object.prix != 0">{{object.prix}}{{object.devise}}{{object.prixType}}</span>
				</p>
			</div>
			<md-button class="md-secondary md-icon-button" aria-label="call">
				<md-icon md-svg-icon="img/icons/ic_forward_black_24px.svg"></md-icon>
			</md-button>
		</div>
	</div>

	<div>
		<h4 style="text-align: center; margin: 30px 0 0px;" >
			<span ng-if="search().length == 0">Pas de résultats pour "{{query}}"</span>
			<span ng-if="search().length != 0">Vous ne trouvez pas ce que vous voulez ?</span>

		</h4>
		<br />
		<div layout="row" style="margin-bottom:20px;">
			<div flex></div>
			<md-button ng-click="broadcast()" class="md-primary md-raised">
				<md-icon md-svg-icon="img/icons/send.svg"></md-icon>
				&nbsp;
				Diffuser la demande
			</md-button>
			<div flex></div>
		</div>
	</div>

</md-content>
